---
import { getCollection } from "astro:content";
import { SITE } from "~/config";
import BlogLayout from "~/layouts/BlogLayout.astro";
import Main from "~/layouts/Main.astro";
import Header from "~/components/blog/Header.astro";
import Footer from "~/components/blog/Footer.astro";
import Search from "~/components/blog/Search";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<BlogLayout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Szukaj" pageDesc="Szukaj wśród artykułów...">
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</BlogLayout>
