---
import { SITE } from "~/config";
import Layout from "~/layouts/Layout.astro";
import Footer from "~/components/blog/Footer.astro";
import LinkButton from "~/components/blog/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`} themeToggle={false}>
  <main id="main-content">
    <a href="/">
      <div class="not-found-wrapper">
        <div class="my-28 blur" title="black hole">
          <b></b>
        </div>
      </div>
    </a>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply font-bold text-skin-accent text-9xl;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
  b,
  b:before,
  b:after {
    display: block;
    border-radius: 50%;
  }
  b {
    width: 50vmin;
    height: 51vmin;
    box-shadow: 1vmin 0 3vmin 2vmin #f50, inset -1vmin 0 3vmin 4vmin #f80,
      -4vmin 0 35vmin 0 #f60;
    animation: bh 18s linear infinite;
  }
  @keyframes bh {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  b:before,
  b:after {
    content: "";
    background: white;
    position: relative;
    top: 6vmin;
  }
  b:before {
    width: 3vmin;
    height: 3vmin;
    left: 40vmin;
    box-shadow: yellow 0 0 2vmin 2vmin, yellow 2vmin 4vmin 2vmin 0.5vmin;
  }
  b:after {
    width: 38vmin;
    height: 38vmin;
    opacity: 0.03;
    left: -14vmin;
  }
  .blur {
    filter: blur(8px);
  }
</style>
