---
import BaseHead, { type Props as HeadProps } from '~/components/BaseHead.astro'
import Header from '~/components/Header.astro'
import Splash from '~/components/Splash.astro'
import Intro from '~/components/Intro.astro'
import Features from '~/components/Features.astro'
import Compatibility from '~/components/Compatibility.astro'
import Showcase from '~/components/Showcase.astro'
import PriceList from '~/components/PriceList.astro'
import Contact from '~/components/Contact.astro'
import AfterHours from '~/components/AfterHours.astro'
import Footer from '~/components/Footer.astro'
import { siteInfo } from '~/config'
import '~/styles/index.css'
import RelayLove from '~/components/RelayLove.astro'
import { getLocale } from 'astro-i18n-aut'
import { t, localedURL } from '~/utils/i18n.ts'

export type Props = HeadProps

const { ...head } = Astro.props

const locale = getLocale(Astro.url)
const localedData = t(locale)
---

<script>
	const langNotification = document.getElementById('lang-notification')
	if (
		!localStorage.getItem('langModalInteraction') &&
		window.navigator.language !== 'uk' &&
		window.navigator.language !== 'uk-UA'
	) {
		langNotification?.style.setProperty('display', 'block')
	}

	const langUKButton = document.getElementById('lang-uk')
	const langENButton = document.getElementById('lang-en')

	langENButton?.addEventListener('click', () => {
		localStorage.setItem('langModalInteraction', 'true')
		langNotification?.style.setProperty('display', 'none')
		window.location.href = '/en'
	})

	langUKButton?.addEventListener('click', () => {
		localStorage.setItem('langModalInteraction', 'true')
		langNotification?.style.setProperty('display', 'none')
	})
</script>

<html lang={locale} class="h-full motion-safe:scroll-smooth" data-theme="dark">
	<head>
		<BaseHead {...head} title="Strony internetowe skrojone na miarę" />
	</head>
	<body
		class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	>
		<Header />
		<Splash />
		<div class="space-y-24 px-8 pb-28 pt-32">
			<Intro />
			<Features />
			<Compatibility />
			<Showcase />
			<PriceList />
			<Contact />
			<AfterHours />
			<RelayLove />
		</div>
		<Footer siteTitle={siteInfo.name} />
	</body>
</html>
