---
import Layout from "../layouts/Layout.astro";
---

<style lang="css">
  [astro-icon] {
    @apply text-2xl;
  }
  :root {
    --gray-lighter: #daffef;
    --gray-light: #004734;
    --gray-dark: #004734;
    --gray-darker: #009f78;
    --blue: #009f78;
    --pink: #ffdcec;
    --yellow: #007f5f;
  }
  body {
    background: #aee9ff;
  }
  .wrap {
    @apply grid grid-cols-[repeat(4,_1fr)] overflow-hidden lg:grid-cols-[repeat(6,_1fr)];
  }
  .background {
    @apply h-[25vw] w-[25vw] sm:h-[calc(640px/4)] sm:w-[calc(640px/4)] md:h-[calc(768px/4)] md:w-[calc(768px/4)] lg:h-[calc(1024px/6)] lg:w-[calc(1024px/6)] xl:h-[calc(1280px/6)] xl:w-[calc(1280px/6)] 2xl:h-[calc(1536px/6)] 2xl:w-[calc(1536px/6)];
  }
  .block-title {
    @apply col-start-2 col-end-[-1] row-start-2 row-end-4 bg-transparent lg:col-start-2 lg:col-end-[-2] lg:row-start-2 lg:row-end-4;
    display: flex;
    transition: padding 0.3s linear;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
  }
  .block-title > div {
    display: flex;
    justify-content: space-between;
  }
  .title-3 {
    order: 1;
  }
  .style-1 {
    background: var(--yellow);
  }
  .style-2 {
    @apply h-0 w-0 border-[12.5vw] border-solid sm:border-[calc(640px/8)] md:border-[calc(768px/8)] lg:border-[calc(1024px/12)] xl:border-[calc(1280px/12)] 2xl:border-[calc(1536px/12)];
    border-color: var(--gray-lighter);
    border-top-color: var(--gray-dark);
    border-bottom-color: var(--gray-dark);
    background: var(--gray-dark);
  }
  @keyframes rotate-vertical {
    0% {
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(1, -1, 0, 180deg);
    }
    100% {
      transform: rotate3d(1, 1, 0, 0deg);
    }
  }
  .style-3 {
    background-image: linear-gradient(
      135deg,
      var(--blue) 50%,
      var(--gray-light) 50%
    );
    transform: rotate3d(1, 1, 0, 0deg);
    animation: rotate-vertical 5.1s ease-out;
    animation-iteration-count: infinite;
  }

  .style-4 {
    background-image: linear-gradient(
      var(--gray-lighter),
      var(--gray-lighter) 60%,
      var(--gray-darker) 60%,
      var(--gray-darker)
    );
    background-size: 100% 5%;
  }
  .style-5 {
    background-image: linear-gradient(
      45deg,
      var(--yellow) 50%,
      var(--gray-lighter) 50%
    );
  }
  .style-6 {
    background-image: linear-gradient(
        135deg,
        var(--gray-darker) 50%,
        transparent 50%
      ),
      linear-gradient(
        var(--gray-lighter),
        var(--gray-lighter) 60%,
        var(--gray-darker) 60%,
        var(--gray-darker)
      );
    background-size: 100%, 100% 5%;
  }
  .style-7 {
    background: linear-gradient(45deg, var(--gray-light) 50%, transparent 50%),
      linear-gradient(
        to right,
        var(--blue),
        var(--blue) 44%,
        var(--gray-lighter) 44%,
        var(--gray-lighter)
      ),
      var(--gray-lighter);
    background-size: 100%, 5% 100%;
  }
  .style-8 {
    background-image: linear-gradient(
      315deg,
      var(--yellow) 50%,
      var(--gray-lighter) 50%
    );
  }
  .style-9 {
    background-image: linear-gradient(
      225deg,
      var(--blue) 50%,
      var(--gray-lighter) 50%
    );
  }
  .style-10 {
    background: var(--gray-light);
  }
  .style-11 {
    background-image: linear-gradient(
      45deg,
      var(--blue) 50%,
      var(--gray-lighter) 50%
    );
  }
  .style-12 {
    background-image: linear-gradient(
      225deg,
      var(--yellow) 50%,
      var(--gray-lighter) 50%
    );
  }
  .block-13 {
    background-image: linear-gradient(
      to right,
      var(--blue),
      var(--blue) 44%,
      var(--gray-lighter) 44%,
      var(--gray-lighter)
    );
    background-size: 5% 100%;
  }
</style>

<Layout title="Welcome to Astro Main Page.">
  <!-- 
This pen uses flex and grid for alignment and layout (respectively), and background gradients for the different tiles (with a couple of exceptions: style-1, style-2 and style-10).
-->
  <div class="container mx-auto">
    <div class="wrap mb-12 rounded-xl sm:rounded-3xl">
      <div
        class="block-title 2xl-p-20 p-8 text-aquamarine-500 dark:text-aquamarine-100 sm:p-12 md:p-16 lg:py-14 lg:px-16 xl:py-16 xl:px-20"
      >
        <!-- feels a little hacky wrapping every character, but makes alignment super easy without the need for JS or hacks -->
        <div
          class="title-1 text-3xl font-extrabold sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
        >
          <span>M</span>
          <span>O</span>
          <span>R</span>
          <span>M</span>
          <span>O</span>
          <span>R</span>
        </div>
        <div
          class="title-3 text-3xl font-extrabold sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
        >
          <span>D</span>
          <span>E</span>
          <span>V</span>
          <span>E</span>
          <span>L</span>
          <span>O</span>
          <span>P</span>
          <span>E</span>
          <span>R</span>
        </div>
        <div
          class="title-2 text-sm font-semibold sm:text-lg md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl"
        >
          <span>F</span>
          <span>R</span>
          <span>O</span>
          <span>N</span>
          <span>T</span>
          <span>E</span>
          <span>N</span>
          <span>D</span>
          <span>&nbsp;</span>
          <span>W</span>
          <span>E</span>
          <span>B</span>
        </div>
      </div>
      <div class="style-1 background"></div>
      <div class="style-2 background"></div>
      <div class="style-3 background"></div>
      <div class="style-4 background"></div>
      <div class="style-5 background"></div>
      <div class="style-6 background"></div>
      <div class="style-7 background"></div>
      <div class="style-8 background"></div>
      <div class="style-9 background"></div>
      <div class="style-10 background"></div>
      <div class="style-6 background"></div>
      <div class="style-3 background sm:hidden lg:block"></div>
      <div class="style-12 background"></div>
      <div class="style-1 background sm:hidden"></div>
      <div class="style-11 background sm:hidden"></div>
      <div class="style-7 background"></div>
      <div class="style-2 background"></div>
      <div class="block-13"></div>
    </div>
  </div>
</Layout>
