<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mormor - manifest" />
    <title>mormor - manifest</title>
    <link rel="stylesheet" />
    <!-- initialize partytown GTM -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WTM5DDC");
    </script>
  </head>
  <body>
    <h1>To jest strona internetowa.</h1>
    <p><strong>I jest idealna.</strong></p>
    <h2>Serio, czego jeszcze więcej chcesz?</h2>
    <p>
      Prawdopodobnie tworzysz strony internetowe albo myślisz, że Twoja strona
      internetowa jest wyjątkowa. Myślisz, że Twoja 13-megabajtowa paralaktyczna
      strona główna da tobie jakąś nagrodę w konkursie <a
        href="https:
        www.cssdesignawards.com
        ">Awwward</a
      >. Myślisz, że Twój 40-kilobajtowy plik jQuery i 83 wypełnienia typu
      polyfill dają IE7 w kość, ponieważ w końcu ma box-shadow. Nieprawda.
      Pozwól, że opiszę Twoją idealną stronę internetową:
    </p>
    <ul>
      <li>Strona jest lekka i szybko się ładuje</li>
      <li>Pasuje do wszystkich Twoich ekranów urządzeń</li>
      <li>Wygląda tak samo we wszystkich Twoich przeglądarkach</li>
      <li>
        Strona jest dostępna dla każdego człowieka, który odwiedza twoją stronę
      </li>
      <li>Strona jest czytelna i pokazuje Twój punkt widzenia</li>
    </ul>
    <h3>Zastanów się:</h3>
    <p>
      Kolejny temat. Przeprojektowanie. Spójrz na to. To strona internetowa. Po
      co ją dodatkowo animować, kiedy najeżdżam na to? Spędziłeś nad tym wiele
      godzin i dodałeś 80 kilobajtów do swojej strony internetowej, a jakiś
      człowiek to na swoim iPadzie tłustymi paluchami nigdy nie zobaczy tego.
      Nie wspominając o tym, że niewidomy nigdy nie zobaczy tego, ani żadnego
      Twojego super efektu.
    </p>
    <p>
      Nigdy tego nie wiedziałeś, ale to jest Twoja idealna strona internetowa.
      Dlatego.
    </p>
    <h2>Jest bardzo lekka</h2>
    <p>
      Cała ta strona waży mniej niż logo Facebooka z gradientową siatką na
      Twojej witrynie Wordpress. Czy naprawdę załadowałeś 100 KB jQuery UI tylko
      po to, by móc animować kolor tła elementu div? Załadowałeś wszystkie 7
      czcionek czcionki internetowej tylko po to, by móc powiedzieć „Cześć”.
      Zastanów się dobrze.
    </p>
    <h2>Jest responsywna</h2>
    <p>
      Myślałeś, że potrzebujesz responsywności zapytań o media queries, ale nie.
      Responsywny oznacza, że reaguje na każdy rozmiar ekranu, na którym jest
      oglądany. Ta strona nie dba o to, czy używasz iMaca, czy Tamagotchi.
    </p>
    <h2>Działa</h2>
    <p>
      Spójrz na to. Możesz to przeczytać... to znaczy, jeśli umiesz czytać. To
      ma sens. Ma ustaloną hierarchię. Używa znaczników HTML5, więc ty i Twoja
      przeglądarka wiecie, co jest na tej stronie internetowej. To semantyka.
    </p>
    <p>
      Ma zawartość na ekranie. Twoja witryna ma trzy wiersze i link do Twojego
      konta na instagramie, ale rozkładasz ją na 7 pełnych ekranów i każesz mi
      klikać jakiś podskakujący przycisk, aby pokazać mi, jak fajna jest wtyczka
      jQuery ScrollTo.
    </p>
    <p>
      Kompatybilność między przeglądarkami? Załaduj tą stronę na IE6. Wyzywam
      cię.
    </p>
    <h2>
      To jest strona internetowa. Spójrz na nią. Nigdy wcześniej jej nie
      widziałeś.
    </h2>
    <p>
      Tak jak człowiek, który nigdy nie zapuścił brody, nie ma pojęcia, jaki
      jest jego prawdziwy naturalny stan, tak Ty nie masz pojęcia, czym jest
      strona internetowa. Wszystko, co kiedykolwiek widziałeś, to gówniane
      skeuomorficzne bastardy tego, co powinno być tekstem przekazującym tą
      wiadomość. To jest prawdziwa, naga strona internetowa. Spójrz na nią. Ona
      jest piękna.
    </p>
    <h3>Tak, to jest satyra.</h3>
    <p>
      Nie twierdzę, że Twoja strona internetowa powinna tak wyglądać. Chcę przez
      to powiedzieć, że wszystkie problemy, jakie mamy ze stronami
      internetowymi, to
      <strong>te, które sami tworzymy</strong>. Strony internetowe nie są
      domyślnie zepsute, są funkcjonalne, wydajne i dostępne. Łamiesz je. Ty
      ponosisz odpowiedzialność.
    </p>
    <blockquote cite="https://www.vitsoe.com/us/about/good-design">
      „Dobry design to jak najmniej designu”.<br />- jakiś niemiecki projektant
    </blockquote>
    <hr />
    <a href="/">Powrót do strony głównej</a>
    <!-- yes, I know...wanna fight about it? -->
  </body>
</html>

<style>
  body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-default;
    }

    a:link {
      color: #58a6ff;
    }

    a:visited {
      color: #8e96f0;
    }
  }
</style>
