---
import ContentSection from '~/components/ContentSection.astro'
import Instafeed from './Instafeed.astro'
import { siteInfo } from '~/config'

const data = await fetch('https://feeds.behold.so/QNL1VtO4iz5fDxuirBhu').then((r) => r.json())
const [instagramLink] = siteInfo.socialLinks.filter((item) => item.platform === 'instagram')
---

<ContentSection title="Po godzinach" id="after-hours">
	<Fragment slot="lead">
		W wolnym czasie <span class="text-primary">fotografuję</span> i chcę się dzielić moją pasją.
		Dlatego byłoby miło gdybyś zechciał śledził mój profil na Instagramie.
	</Fragment>
	<Instafeed feed={data} />
	<a
		href={instagramLink.href}
		class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 text-center hover:text-secondary focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent"
		target="_blank"
	>
		Zobacz więcej na @foto.tfurca
	</a>
</ContentSection>
