---
import ContentSection from "~/components/ContentSection.astro";
import ContactForm from "~/components/ContactForm";
---

<ContentSection title="Kontakt" id="kontakt">
  <Fragment slot="lead">
    Jeśli chcesz się tylko <span class="text-primary"
      >przywitać i porozmawiać</span
    > o kilku pomysłach, z przyjemnością przyjmę to połączenie.
  </Fragment>
  <div class="flex w-full max-w-xl flex-col justify-center py-6">
    <div class="relative mx-auto w-full">
      <div class="gradient-form-bg absolute inset-0 -m-1 skew-y-0 transform">
      </div>
      <div class="relative border border-default bg-offset px-3 py-10 sm:px-8">
        <h3
          class="absolute right-4 top-0 -translate-y-1/2 rounded-full border border-current bg-default px-4 py-1 uppercase tracking-tight text-xs"
        >
          Napisz wiadomość
        </h3>
        <ContactForm client:only="react" />
      </div>
    </div>
  </div>
</ContentSection>
