---
import ThemeIcon from "./ThemeIcon.astro";

const currentYear = new Date().getFullYear();
---

<style>
  .copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    transform: scaleX(-1);
    filter: FlipH;
  }
</style>

<div class="container mt-auto mx-auto py-6">
  <div class="flex justify-center mb-4">
    <ThemeIcon />
  </div>
  <div class="text-center">
    <span class="copy-left">&copy;</span>
    {currentYear} MorMor. All rights reserved XD
  </div>
</div>
