---
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url)

const { className } = Astro.props
---

<a class={`${className}`} href={locale === 'pl' ? '/en' : '/'}>
	{locale === 'pl' ? 'EN 🇬🇧' : 'PL 🇵🇱'}
</a>
