---
import ContentSection from '~/components/ContentSection.astro'
import { getLocale } from 'astro-i18n-aut'
import { t } from '../utils/i18n.ts'

const locale = getLocale(Astro.url)
const localedData = t(locale)
---

<ContentSection title={localedData.home.relay} id="relay-love">
	<Fragment set:html={localedData.home.relayLead} slot="lead" />
	<div class="grid max-w-6xl grid-cols-1">
		<div class="place-self-center">
			<iframe
				src="https://snowflake.torproject.org/embed.html"
				title="Help people safely access the internet using."
				width="320"
				height="240"></iframe>
		</div>
		<div class="my-4 place-self-center">
			<p>
				✊ An anti-censorship project by <a
					class="text-primary"
					rel="me noopener noreferrer"
					target="_blank"
					href="https://scidsg.org">Science &amp; Design</a
				>
			</p>
		</div>
	</div>
</ContentSection>
